<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        input[type=checkbox] {
            accent-color: #808d67;
        }

        body {
            background-color: #e8f0e8;
            padding: 20px;
        }

        .main-container {
            position: relative;
            background-color: #f2efe9;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .table-container {
            overflow-x: auto;
        }

        .table {
            margin-bottom: 0;
        }

        .table th {
            background-color: #a3b18a;
            color: white;
            font-weight: normal;
        }

        .table td,
        .table th {
            border: none;
        }
        
        tbody tr{
            background-color: #e0d8c8;
        }

        .table tr:nth-child(even) td {
            background-color: #d8d0c0;
        }

        .form-check-input {
            width: 1.5em;
            height: 1.5em;
        }

        .icon-bar {
            position: absolute;
            right: -50px;
            top: 0;
            display: flex;
            flex-direction: column;
        }

        .icon-bar button {
            display: block;
            margin-bottom: 10px;
            background-color: #f2efe9;
            border: 1px solid #ccc;
            padding: 5px;
            width: 40px;
            height: 40px;
        }

        thead {
            background-color: #808d67;
        }

        .bgd-green {
            background-color: #808d67;
        }
    </style>
</head>

<body>
    <div class="responsible">
        <div class="div">
            <header class="header">
                <div class="overlap">
                    <div class="text-wrapper">Environmental Compliance Management System</div>
                    <img class="enveng-logo" src="img/enveng-logo-1.svg" />
                    <div class="overlap-group">
                        <div class="avatar-block">
                            <a class="btn btn-warning" href="/logout">Logout</a>
                            <div class="avatar">
                                <img src="img/shape-1.png"
                                style="height: 90%;width: auto;border-radius: 50%;margin: 4% auto;" alt="">
                            </div>
                            <div class="info">
                                <div class="text-wrapper-2">Title</div>
                                <div class="text-wrapper-3">Description</div>
                            </div>
                           
                        </div>
                        <div class="settings">
                            <img class="enveng-logo" style="height: 90%;width: auto;border-radius: 50%;margin: 4% auto;"
                                src="img/settings-1.svg" />
                        </div>
                        <img class="help-circle" src="img/help-circle.svg" />
                    </div>
                </div>

                <div class="navigation-bar-wrapper">
                    <div class="navigation-bar">
                        <div class="overlap-group-2">
                            <div class="div-wrapper">
                                <div class="text-wrapper-4"><a href="/responsible">Responsible</a></div>
                            </div>
                            <div class="text-wrapper-5"><a href="/form">Obligations</a></div>
                            <div class="text-wrapper-6"><a href="/">Dashboard</a></div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- <div class="body"></div> -->
        </div>

    </div>
    <div class="container main-container">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bgd-green">
                        <th><input type="checkbox" class="form-check-input bgd-green"></th>
                        <th>Title <i class="fas fa-chevron-down"></i></th>
                        <th>First Name <i class="fas fa-chevron-down"></i></th>
                        <th>Last Name <i class="fas fa-chevron-down"></i></th>
                        <th>RspEmail <i class="fas fa-chevron-down"></i></th>
                        <th>Accountability <i class="fas fa-chevron-down"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                    <tr>
                        <td class=""><input type="checkbox" class="form-check-input"></td>
                        <td><%= user.username %></td>
                        <td><%= user.first_name  %></td>
                        <td><%= user.last_name  %></td>
                        <td><%= user.email  %></td>
                        <td><%= user.accountability %></td>
                    </tr>
                    <% }); %>
                    <!-- <tr>
                        <td><input type="checkbox" class="form-check-input" checked></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr> -->

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="icon-bar">
            <button><i class="fas fa-cog"></i></button>
            <button><i class="fas fa-search"></i></button>
            <button><i class="fas fa-plus"></i></button>
            <button><i class="fas fa-trash"></i></button>
            <button><i class="fas fa-sync-alt"></i></button>
        </div>
    </div>
    <script>
        function newform() {
            window.location.replace('/newform');
        }
    </script>
</body>

</html>